.paginator__wrapper {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.paginator__container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.paginator__page-btn {
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #1890ff;
  transition: linear 0.3s;
}

.paginator__active {
  background-color: #1890ff;
  color: #fffffe;
}

.paginator__next {
  min-width: 70px;
}

.paginator__page-btn:hover {
  cursor: pointer;
  background-color: #1890ff;
  color: #fffffe;
}
